{
  "root": true,
  "extends": "semistandard",
  "rules": {
    "max-len": [2, 80, 2],
    "prefer-arrow-callback": 2,
    "arrow-parens": [2, "as-needed"],
    "func-style": [2, "declaration"],
    "space-before-function-paren": [2, "never"]
  }
}
