@background-color: <%= backgroundColor %>;
@text-color: <%= textColor %>;
@accent-color: <%= accentColor %>;

* {
  font-family: "Roboto", sans-serif;
  font-size: 1.03em;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  user-select: none;
}
html {
  background: @background-color;
  color: fade(@text-color, 60%);
  height: 100%;
  width: 100%;
}
::selection {
  background: fade(darken(@accent-color, 20%), 50%);
}
a {
  transition-duration: 0.1s;
  transition-property: background-color, box-shadow, color, opacity;
  transition-timing-function: ease-in-out;
}
a, a:hover, a:visited, a:visited:hover {
  text-decoration: none;
}
h1, p {
  user-select: text;
}
h1 {
  color: @text-color;
  font-size: 3em;
  margin: 0 0 20px 0;
}
p {
  line-height: 1.5;
  margin: 0;
}
#wrapper {
	animation: top 1s 1 ease-in-out;
  bottom: 0;
  display: table;
  left: 0;
  margin: auto;
  max-width: 700px;
  position: absolute;
  right: 0;
  table-layout: fixed;
  text-align: center;
  top: 0;
  #main {
    display: table;
    width: 100%;
  }
  .logo {
    border-radius: 24%;
    height: 60px;
    margin: 0 15px 6px 0;
    vertical-align: middle;
    width: 60px;
  }
  .button, .button:visited {
    display: inline-block;
    margin-top: 20px;
  }
  .button-custom {
    background-size: 39px 39px;
    background: url("../img/appstore-custom.svg") 13px center no-repeat;
    border-radius: 4px;
    box-shadow: 0 0 0 1px darken(@accent-color, 20%) inset;
    box-sizing: border-box;
    color: @accent-color;
    padding: 9px 15px 10px 64px;
    text-align: left;
    &:hover {
      animation: pulse 1s infinite ease-in-out;
      box-shadow: 0 0 0 1px darken(@accent-color, 30%) inset;
    }
  }
  .carousel-container {
    background: url("../img/iphone.svg") center center no-repeat;
    height: 547px;
    margin: 0 auto;
    width: 268px;
    .carousel {
      margin-left: 17px;
      &, img {
        height: 415px;
        width: 234px;
      }
      img {
        margin: 66px 0 0 0;
      }
    }
  }
  #copyright {
    a, a:visited {
      color: fade(#fff, 30%);
    }
    a:hover, a:visited:hover {
      color: fade(#fff, 50%);
    }
  }
}
@media screen and (max-width: 700px) {
  #wrapper {
    margin: 0 auto;
    width: 90%;
  }
  #meta {
    margin-top: 40px;
  }
  #meta, #screenshots, #copyright {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 700px) {
  #main {
    padding-bottom: 1em;
  }
  #meta, #screenshots {
    display: table-cell;
    height: 100%;
    width: 50%;
    padding: 1em;
    vertical-align: middle;
  }
  #meta {
    text-align: right;
  }
  #screenshots {
    text-align: left;
  }
  #copyright {
    display: table-row;
  }
}

@keyframes pulse {
  0% { background-color: darken(@background-color, 5%); }
  50% { background-color: darken(@background-color, 10%); }
  100% { background-color: darken(@background-color, 5%); }
}
@keyframes top {
  0% { opacity: 0; top: 30px; }
  50%	{ opacity: 0;	top: 30px; }
  100% { opacity: 1; top: 0; }
}
